body {
	margin: 0px;
	padding: 0px;
	font-family:arial, san-serif;
}
h2 {
	color: #797D7F;
	text-align: center;
	font-family:arial, san-serif;
	font-weight:normal;
}
#top {
	background-color: #AEB6BF;
	height: 100px;
	padding: 10px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px;
	margin: 5px;
	width: 250px;
}
.name {
	color: #D0D3D4;
}